shamefully-hoist=true
node-linker=isolated
strict-peer-dependencies=false
shell-emulator=true
engine-strict = true
registry=https://registry.npmmirror.com/
home=https://npm.taobao.org
electron_mirror=https://npm.taobao.org/mirrors/electron/
